/* Reset de márgenes y paddings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Estilos generales */
  body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
  }
  
  /* Header */
  header {
    background-color: #333;
    padding: 10px;
  }
  
  nav ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
  }
  
  nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px;
  }
  
  nav ul li a:hover {
    background-color: #555;
    border-radius: 5px;
  }
  
  h1 {
    text-align: center;
    margin: 20px 0;
  }

  .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
  }
  
  .card {
    width: calc(16.66% - 20px); /* 6 tarjetas por fila */
    background-color: #f9f9f9;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 15px;
    text-align: center;
  }
  
  .card img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
  }
  
  .card h3 {
    font-size: 1.5em;
    margin: 10px 0;
  }
  
  .card p {
    font-size: 1em;
    color: #555;
  }
  
  .card .button {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 15px;
    background-color: #333;
    color: white;
    text-decoration: none;
    border-radius: 5px;
  }
  
  .card .button:hover {
    background-color: #555;
  }
  
  /* Footer */
  footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
  }
  
  footer ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
  
  footer ul li {
    margin: 0 10px;
  }
  
  footer ul li a {
    color: white;
    text-decoration: none;
  }
  
  footer ul li a:hover {
    text-decoration: underline;
  }
  
  footer ul li a i {
    margin-right: 8px;
  }
  
  /* Media Queries */
  
  /* Para Tablets (2 cards) */
  @media (max-width: 768px) {
    .card {
      width: calc(50% - 20px); 
    }
  }
  
  /* Para Móviles (1 card) */
  @media (max-width: 500px) {
    nav ul {
      flex-direction: column;
      align-items: center;
    }
  
    .card {
      width: 100%;
    }
  }
  
  